@model IEnumerable<Branch>

@{
    ViewData["Title"] = "Hotel Branches";
}

<h3>@ViewData["Title"]</h3>

<a class="navbar-brand h5 mb-3" asp-area="" asp-controller="branch" asp-action="create">+ Create New</a>

<div class="card-deck">
    @foreach (var branch in Model)
    {
        var photoPath = "~/images/" + (branch.PhotoPath ?? "noimage.jpg");
        <div class="card m-3" style="min-width: 18rem; max-width:30%;">
            <div class="card-header">
                <h3>@branch.Name</h3>
            </div>
            <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />
            <div class="card-footer text-center">
                <a asp-controller="branch" asp-action="details" asp-route-id="@branch.Id"
                   class="btn btn-primary m-1">Rooms</a>
                <a asp-controller="branch" asp-action="edit" asp-route-id="@branch.Id"
                   class="btn btn-primary m-1">Edit</a>
            </div>
        </div>
    }
</div>
